<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Aggregating-and-Combining-Pandas-DataFrames" data-toc-modified-id="Aggregating-and-Combining-Pandas-DataFrames-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Aggregating and Combining <code>Pandas</code> DataFrames</a></span><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Objectives</a></span></li></ul></li><li><span><a href="#Loading-Example-Data:-Austin-Animal-Center-Data" data-toc-modified-id="Loading-Example-Data:-Austin-Animal-Center-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Loading Example Data: Austin Animal Center Data</a></span></li><li><span><a href="#Aggregating-over-DataFrames:-.groupby()" data-toc-modified-id="Aggregating-over-DataFrames:-.groupby()-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Aggregating over DataFrames: <code>.groupby()</code></a></span><ul class="toc-item"><li><span><a href="#.groups-and-.get_group()" data-toc-modified-id=".groups-and-.get_group()-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.groups</code> and <code>.get_group()</code></a></span><ul class="toc-item"><li><span><a href="#Multi-Indexing" data-toc-modified-id="Multi-Indexing-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Multi-Indexing</a></span></li></ul></li><li><span><a href="#Aggregating" data-toc-modified-id="Aggregating-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Aggregating</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Pivoting-a-DataFrame" data-toc-modified-id="Pivoting-a-DataFrame-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Pivoting a DataFrame</a></span><ul class="toc-item"><li><span><a href="#.pivot_table()" data-toc-modified-id=".pivot_table()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.pivot_table()</code></a></span><ul class="toc-item"><li><span><a href="#Example" data-toc-modified-id="Example-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Example</a></span></li><li><span><a href="#Back-to-Austin-animals" data-toc-modified-id="Back-to-Austin-animals-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>Back to Austin animals</a></span></li></ul></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Methods-for-Combining-DataFrames:-.join(),-.merge(),-pd.concat()" data-toc-modified-id="Methods-for-Combining-DataFrames:-.join(),-.merge(),-pd.concat()-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Methods for Combining DataFrames: <code>.join()</code>, <code>.merge()</code>, <code>pd.concat()</code></a></span><ul class="toc-item"><li><span><a href="#.join()" data-toc-modified-id=".join()-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span><code>.join()</code></a></span></li><li><span><a href="#.merge()" data-toc-modified-id=".merge()-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span><code>.merge()</code></a></span></li><li><span><a href="#The-how-Parameter" data-toc-modified-id="The-how-Parameter-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>The <code>how</code> Parameter</a></span></li><li><span><a href="#pd.concat()" data-toc-modified-id="pd.concat()-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span><code>pd.concat()</code></a></span></li></ul></li><li><span><a href="#King-County-Assessments" data-toc-modified-id="King-County-Assessments-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>King County Assessments</a></span><ul class="toc-item"><li><span><a href="#First,-get-the-data!" data-toc-modified-id="First,-get-the-data!-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>First, get the data!</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Exercise</a></span></li><li><span><a href="#Data-Cleaning-Exercises-with-Pandas" data-toc-modified-id="Data-Cleaning-Exercises-with-Pandas-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Data Cleaning Exercises with Pandas</a></span><ul class="toc-item"><li><span><a href="#Investigate-and-drop-rows-with-invalid-values-in-the-SalePrice-and-SqFtTotLiving-columns." data-toc-modified-id="Investigate-and-drop-rows-with-invalid-values-in-the-SalePrice-and-SqFtTotLiving-columns.-6.3.1"><span class="toc-item-num">6.3.1&nbsp;&nbsp;</span>Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.</a></span></li><li><span><a href="#Investigate-and-handle-non-numeric-ZipCode-values" data-toc-modified-id="Investigate-and-handle-non-numeric-ZipCode-values-6.3.2"><span class="toc-item-num">6.3.2&nbsp;&nbsp;</span>Investigate and handle non-numeric ZipCode values</a></span></li><li><span><a href="#Add-a-column-for-PricePerSqFt" data-toc-modified-id="Add-a-column-for-PricePerSqFt-6.3.3"><span class="toc-item-num">6.3.3&nbsp;&nbsp;</span>Add a column for PricePerSqFt</a></span></li><li><span><a href="#Subset-the-data-to-2021-sales-only" data-toc-modified-id="Subset-the-data-to-2021-sales-only-6.3.4"><span class="toc-item-num">6.3.4&nbsp;&nbsp;</span>Subset the data to 2021 sales only</a></span></li><li><span><a href="#What-is-the-mean-price-per-square-foot-for-a-house-sold-in-Seattle-in-2021?" data-toc-modified-id="What-is-the-mean-price-per-square-foot-for-a-house-sold-in-Seattle-in-2021?-6.3.5"><span class="toc-item-num">6.3.5&nbsp;&nbsp;</span>What is the mean price per square foot for a house sold in Seattle in 2021?</a></span></li></ul></li></ul></li></ul></div>

# Aggregating and Combining `Pandas` DataFrames

In [15]:
import pandas as pd
import numpy as np
import requests as rq
from sklearn.preprocessing import OneHotEncoder
from zipfile import ZipFile

## Objectives

- Use GroupBy objects to organize and aggregate data
- Create pivot tables from DataFrames
- Combine DataFrames by merging and appending

We'll work with the Austin Animal Center dataset and with data from King County's Department of Assessments (Seattle housing data).

# Loading Example Data: Austin Animal Center Data

In [16]:
data = rq.get('https://data.austintexas.gov/resource/9t4d-g238.json').text

In [17]:
display(data)

'[{"animal_id":"A794011","name":"Chunk","datetime":"2019-05-08T18:20:00.000","monthyear":"2019-05-08T18:20:00.000","date_of_birth":"2017-05-02T00:00:00.000","outcome_type":"Rto-Adopt","animal_type":"Cat","sex_upon_outcome":"Neutered Male","age_upon_outcome":"2 years","breed":"Domestic Shorthair Mix","color":"Brown Tabby/White"}\n,{"animal_id":"A776359","name":"Gizmo","datetime":"2018-07-18T16:02:00.000","monthyear":"2018-07-18T16:02:00.000","date_of_birth":"2017-07-12T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"1 year","breed":"Chihuahua Shorthair Mix","color":"White/Brown"}\n,{"animal_id":"A821648","datetime":"2020-08-16T11:38:00.000","monthyear":"2020-08-16T11:38:00.000","date_of_birth":"2019-08-16T00:00:00.000","outcome_type":"Euthanasia","animal_type":"Other","sex_upon_outcome":"Unknown","age_upon_outcome":"1 year","breed":"Raccoon","color":"Gray"}\n,{"animal_id":"A720371","name":"Moose","datetime":"2016-02-13T17:59:00.000","monthyear":"2016-02-13T17:59:00.000","date_of_birth":"2015-10-08T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"4 months","breed":"Anatol Shepherd/Labrador Retriever","color":"Buff"}\n,{"animal_id":"A674754","datetime":"2014-03-18T11:47:00.000","monthyear":"2014-03-18T11:47:00.000","date_of_birth":"2014-03-12T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"Partner","animal_type":"Cat","sex_upon_outcome":"Intact Male","age_upon_outcome":"6 days","breed":"Domestic Shorthair Mix","color":"Orange Tabby"}\n,{"animal_id":"A659412","name":"Princess","datetime":"2020-10-05T14:37:00.000","monthyear":"2020-10-05T14:37:00.000","date_of_birth":"2013-03-24T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Spayed Female","age_upon_outcome":"7 years","breed":"Chihuahua Shorthair Mix","color":"Brown"}\n,{"animal_id":"A814515","name":"Quentin","datetime":"2020-05-06T07:59:00.000","monthyear":"2020-05-06T07:59:00.000","date_of_birth":"2018-03-01T00:00:00.000","outcome_type":"Adoption","outcome_subtype":"Foster","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"2 years","breed":"American Foxhound/Labrador Retriever","color":"White/Brown"}\n,{"animal_id":"A868405","name":"*Leo","datetime":"2023-03-04T13:38:00.000","monthyear":"2023-03-04T13:38:00.000","date_of_birth":"2020-11-02T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"2 years","breed":"Pit Bull Mix","color":"Brown/White"}\n,{"animal_id":"A689724","name":"*Donatello","datetime":"2014-10-18T18:52:00.000","monthyear":"2014-10-18T18:52:00.000","date_of_birth":"2014-08-01T00:00:00.000","outcome_type":"Adoption","animal_type":"Cat","sex_upon_outcome":"Neutered Male","age_upon_outcome":"2 months","breed":"Domestic Shorthair Mix","color":"Black"}\n,{"animal_id":"A680969","name":"*Zeus","datetime":"2014-08-05T16:59:00.000","monthyear":"2014-08-05T16:59:00.000","date_of_birth":"2014-06-03T00:00:00.000","outcome_type":"Adoption","animal_type":"Cat","sex_upon_outcome":"Neutered Male","age_upon_outcome":"2 months","breed":"Domestic Shorthair Mix","color":"White/Orange Tabby"}\n,{"animal_id":"A840370","name":"Tulip","datetime":"2021-08-19T19:36:00.000","monthyear":"2021-08-19T19:36:00.000","date_of_birth":"2019-08-06T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Spayed Female","age_upon_outcome":"2 years","breed":"Border Collie/Cardigan Welsh Corgi","color":"Black/White"}\n,{"animal_id":"A684617","datetime":"2014-07-27T09:00:00.000","monthyear":"2014-07-27T09:00:00.000","date_of_birth":"2012-07-26T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"SCRP","animal_type":"Cat","sex_upon_outcome":"Intact Female","age_upon_outcome":"2 years","breed":"Domestic Shorthair Mix","color":"Black"}\n,{"animal_id":"A742354","name":"Artemis","datetime":"2017-01-22T11:56:00.000","monthyear":"2017-01-22T11:56:00.000","date_of_birth":"2010-01-20T00:00:00.000","outcome_type":"Return to Owner","animal_type":"Cat","sex_upon_outcome":"Neutered Male","age_upon_outcome":"7 years","breed":"Domestic Shorthair Mix","color":"Blue/White"}\n,{"animal_id":"A818049","name":"Fiona","datetime":"2020-06-01T13:24:00.000","monthyear":"2020-06-01T13:24:00.000","date_of_birth":"2018-06-01T00:00:00.000","outcome_type":"Return to Owner","animal_type":"Dog","sex_upon_outcome":"Intact Female","age_upon_outcome":"2 years","breed":"Pit Bull","color":"White/Blue"}\n,{"animal_id":"A843327","name":"*Mary","datetime":"2021-10-08T13:25:00.000","monthyear":"2021-10-08T13:25:00.000","date_of_birth":"2019-09-29T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"Out State","animal_type":"Dog","sex_upon_outcome":"Intact Female","age_upon_outcome":"2 years","breed":"Chihuahua Shorthair Mix","color":"Black/White"}\n,{"animal_id":"A681036","datetime":"2014-06-11T17:11:00.000","monthyear":"2014-06-11T17:11:00.000","date_of_birth":"2014-06-09T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"Partner","animal_type":"Cat","sex_upon_outcome":"Intact Male","age_upon_outcome":"2 days","breed":"Domestic Shorthair Mix","color":"Brown Tabby"}\n,{"animal_id":"A803149","name":"*Birch","datetime":"2019-08-31T16:26:00.000","monthyear":"2019-08-31T16:26:00.000","date_of_birth":"2019-08-08T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"Partner","animal_type":"Cat","sex_upon_outcome":"Intact Male","age_upon_outcome":"3 weeks","breed":"Domestic Shorthair","color":"Brown Tabby"}\n,{"animal_id":"A873909","name":"*Titanium","datetime":"2023-03-04T13:09:00.000","monthyear":"2023-03-04T13:09:00.000","date_of_birth":"2023-01-02T00:00:00.000","outcome_type":"Adoption","outcome_subtype":"Foster","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"1 month","breed":"Labrador Retriever Mix","color":"Black/Tan"}\n,{"animal_id":"A698049","name":"Luigi","datetime":"2015-03-16T14:50:00.000","monthyear":"2015-03-16T14:50:00.000","date_of_birth":"2014-06-05T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"Partner","animal_type":"Cat","sex_upon_outcome":"Spayed Female","age_upon_outcome":"9 months","breed":"Domestic Medium Hair Mix","color":"Black/White"}\n,{"animal_id":"A773792","datetime":"2018-06-05T15:30:00.000","monthyear":"2018-06-05T15:30:00.000","date_of_birth":"2018-05-05T00:00:00.000","outcome_type":"Euthanasia","outcome_subtype":"Suffering","animal_type":"Cat","sex_upon_outcome":"Intact Male","age_upon_outcome":"4 weeks","breed":"Domestic Shorthair Mix","color":"Orange Tabby"}\n,{"animal_id":"A873909","name":"*Titanium","datetime":"2023-03-04T13:09:00.000","monthyear":"2023-03-04T13:09:00.000","date_of_birth":"2023-01-02T00:00:00.000","outcome_type":"Adoption","outcome_subtype":"Foster","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"1 month","breed":"Labrador Retriever Mix","color":"Black/Tan"}\n,{"animal_id":"A875563","name":"Zoey","datetime":"2023-03-04T13:02:00.000","monthyear":"2023-03-04T13:02:00.000","date_of_birth":"2015-03-01T00:00:00.000","outcome_type":"Euthanasia","outcome_subtype":"Suffering","animal_type":"Dog","sex_upon_outcome":"Intact Female","age_upon_outcome":"8 years","breed":"Doberman Pinsch","color":"Black/Brown"}\n,{"animal_id":"A833999","datetime":"2021-05-08T14:05:00.000","monthyear":"2021-05-08T14:05:00.000","date_of_birth":"2021-04-23T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"Partner","animal_type":"Cat","sex_upon_outcome":"Intact Female","age_upon_outcome":"2 weeks","breed":"Domestic Medium Hair","color":"Brown Tabby"}\n,{"animal_id":"A872930","name":"Alfie","datetime":"2023-03-04T13:03:00.000","monthyear":"2023-03-04T13:03:00.000","date_of_birth":"2015-01-18T00:00:00.000","outcome_type":"Adoption","outcome_subtype":"Foster","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"8 years","breed":"German Shepherd Mix","color":"Brown/Black"}\n,{"animal_id":"A725795","datetime":"2016-05-03T12:39:00.000","monthyear":"2016-05-03T12:39:00.000","date_of_birth":"2016-04-15T00:00:00.000","outcome_type":"Euthanasia","outcome_subtype":"Underage","animal_type":"Other","sex_upon_outcome":"Unknown","age_upon_outcome":"2 weeks","breed":"Opossum","color":"Gray"}\n,{"animal_id":"A835990","name":"Jack","datetime":"2021-06-04T14:31:00.000","monthyear":"2021-06-04T14:31:00.000","date_of_birth":"2019-06-04T00:00:00.000","outcome_type":"Return to Owner","animal_type":"Dog","sex_upon_outcome":"Intact Male","age_upon_outcome":"2 years","breed":"Weimaraner/Labrador Retriever","color":"Blue"}\n,{"animal_id":"A730621","name":"*Liza","datetime":"2016-09-10T18:59:00.000","monthyear":"2016-09-10T18:59:00.000","date_of_birth":"2016-05-18T00:00:00.000","outcome_type":"Adoption","animal_type":"Cat","sex_upon_outcome":"Spayed Female","age_upon_outcome":"3 months","breed":"Domestic Shorthair Mix","color":"Calico"}\n,{"animal_id":"A765349","name":"Einstein","datetime":"2018-06-08T13:04:00.000","monthyear":"2018-06-08T13:04:00.000","date_of_birth":"2009-01-18T00:00:00.000","outcome_type":"Adoption","outcome_subtype":"Foster","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"9 years","breed":"Chihuahua Shorthair Mix","color":"Tricolor"}\n,{"animal_id":"A873291","name":"*Dumpling","datetime":"2023-03-04T14:01:00.000","monthyear":"2023-03-04T14:01:00.000","date_of_birth":"2021-01-23T00:00:00.000","outcome_type":"Adoption","animal_type":"Cat","sex_upon_outcome":"Spayed Female","age_upon_outcome":"2 years","breed":"Domestic Shorthair","color":"Brown Tabby"}\n,{"animal_id":"A760697","name":"Star","datetime":"2017-10-26T15:22:00.000","monthyear":"2017-10-26T15:22:00.000","date_of_birth":"2007-10-23T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"Partner","animal_type":"Dog","sex_upon_outcome":"Intact Male","age_upon_outcome":"10 years","breed":"Yorkshire Terrier Mix","color":"Brown/Black"}\n,{"animal_id":"A767231","name":"Millie","datetime":"2018-02-25T17:19:00.000","monthyear":"2018-02-25T17:19:00.000","date_of_birth":"2017-02-25T00:00:00.000","outcome_type":"Return to Owner","animal_type":"Dog","sex_upon_outcome":"Spayed Female","age_upon_outcome":"1 year","breed":"Jack Russell Terrier/Chihuahua Shorthair","color":"White/Tan"}\n,{"animal_id":"A758536","datetime":"2017-09-23T11:09:00.000","monthyear":"2017-09-23T11:09:00.000","date_of_birth":"2017-03-18T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"Snr","animal_type":"Cat","sex_upon_outcome":"Intact Female","age_upon_outcome":"6 months","breed":"Domestic Shorthair Mix","color":"Brown Tabby"}\n,{"animal_id":"A754682","name":"Big Girl","datetime":"2017-07-23T11:58:00.000","monthyear":"2017-07-23T11:58:00.000","date_of_birth":"2009-07-22T00:00:00.000","outcome_type":"Return to Owner","animal_type":"Dog","sex_upon_outcome":"Spayed Female","age_upon_outcome":"8 years","breed":"Great Pyrenees Mix","color":"White"}\n,{"animal_id":"A801106","datetime":"2019-08-16T14:05:00.000","monthyear":"2019-08-16T14:05:00.000","date_of_birth":"2019-05-06T00:00:00.000","outcome_type":"Adoption","animal_type":"Cat","sex_upon_outcome":"Neutered Male","age_upon_outcome":"3 months","breed":"Domestic Shorthair","color":"Orange Tabby"}\n,{"animal_id":"A766700","datetime":"2018-02-15T08:59:00.000","monthyear":"2018-02-15T08:59:00.000","date_of_birth":"2017-02-15T00:00:00.000","outcome_type":"Euthanasia","outcome_subtype":"Rabies Risk","animal_type":"Other","sex_upon_outcome":"Unknown","age_upon_outcome":"1 year","breed":"Bat Mix","color":"Brown"}\n,{"animal_id":"A812473","name":"Theodore Nubbins","datetime":"2020-03-05T16:15:00.000","monthyear":"2020-03-05T16:15:00.000","date_of_birth":"2010-01-26T00:00:00.000","outcome_type":"Adoption","outcome_subtype":"Foster","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"10 years","breed":"Chihuahua Shorthair","color":"Brown"}\n,{"animal_id":"A740079","name":"Terry","datetime":"2016-12-26T13:45:00.000","monthyear":"2016-12-26T13:45:00.000","date_of_birth":"2013-12-10T00:00:00.000","outcome_type":"Return to Owner","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"3 years","breed":"Australian Cattle Dog Mix","color":"Black/White"}\n,{"animal_id":"A757919","name":"*Tofu","datetime":"2017-10-05T15:36:00.000","monthyear":"2017-10-05T15:36:00.000","date_of_birth":"2015-09-08T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Spayed Female","age_upon_outcome":"2 years","breed":"Beagle Mix","color":"Brown/White"}\n,{"animal_id":"A789298","name":"*Mr Wrinkles","datetime":"2019-04-23T11:59:00.000","monthyear":"2019-04-23T11:59:00.000","date_of_birth":"2019-02-15T00:00:00.000","outcome_type":"Adoption","outcome_subtype":"Foster","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"2 months","breed":"Labrador Retriever Mix","color":"Brown/White"}\n,{"animal_id":"A773866","name":"*Nitro","datetime":"2018-08-23T18:05:00.000","monthyear":"2018-08-23T18:05:00.000","date_of_birth":"2016-06-06T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"2 years","breed":"Labrador Retriever/Staffordshire","color":"Black/White"}\n,{"animal_id":"A765701","datetime":"2018-01-25T09:39:00.000","monthyear":"2018-01-25T09:39:00.000","date_of_birth":"2017-01-25T00:00:00.000","outcome_type":"Euthanasia","outcome_subtype":"Rabies Risk","animal_type":"Other","sex_upon_outcome":"Unknown","age_upon_outcome":"1 year","breed":"Bat Mix","color":"Brown"}\n,{"animal_id":"A699884","datetime":"2015-04-03T16:16:00.000","monthyear":"2015-04-03T16:16:00.000","date_of_birth":"2013-04-03T00:00:00.000","outcome_type":"Euthanasia","outcome_subtype":"Suffering","animal_type":"Cat","sex_upon_outcome":"Unknown","age_upon_outcome":"2 years","breed":"Domestic Shorthair Mix","color":"Gray"}\n,{"animal_id":"A725530","name":"King","datetime":"2016-06-09T14:50:00.000","monthyear":"2016-06-09T14:50:00.000","date_of_birth":"2015-10-30T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"7 months","breed":"Pit Bull Mix","color":"Brown Brindle/White"}\n,{"animal_id":"A722378","name":"Canine","datetime":"2016-03-31T19:08:00.000","monthyear":"2016-03-31T19:08:00.000","date_of_birth":"2010-03-15T00:00:00.000","outcome_type":"Return to Owner","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"6 years","breed":"German Shepherd Mix","color":"Brown/Black"}\n,{"animal_id":"A875596","name":"Milo","datetime":"2023-03-04T14:57:00.000","monthyear":"2023-03-04T14:57:00.000","date_of_birth":"2014-03-01T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"9 years","breed":"German Shepherd","color":"Tan"}\n,{"animal_id":"A707743","datetime":"2015-07-18T09:00:00.000","monthyear":"2015-07-18T09:00:00.000","date_of_birth":"2015-04-17T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"SCRP","animal_type":"Cat","sex_upon_outcome":"Intact Male","age_upon_outcome":"3 months","breed":"Domestic Shorthair Mix","color":"Black/White"}\n,{"animal_id":"A681449","name":"Buster","datetime":"2014-07-02T19:01:00.000","monthyear":"2014-07-02T19:01:00.000","date_of_birth":"2010-06-16T00:00:00.000","outcome_type":"Return to Owner","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"4 years","breed":"Dogo Argentino Mix","color":"White/Brown"}\n,{"animal_id":"A738919","name":"Milo","datetime":"2016-11-27T17:35:00.000","monthyear":"2016-11-27T17:35:00.000","date_of_birth":"2016-09-23T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"2 months","breed":"Black Mouth Cur Mix","color":"Brown/Black"}\n,{"animal_id":"A730464","datetime":"2016-07-05T12:47:00.000","monthyear":"2016-07-05T12:47:00.000","date_of_birth":"2015-07-05T00:00:00.000","outcome_type":"Euthanasia","outcome_subtype":"Rabies Risk","animal_type":"Other","sex_upon_outcome":"Unknown","age_upon_outcome":"1 year","breed":"Bat","color":"Black/Brown"}\n,{"animal_id":"A875266","name":"*Creole","datetime":"2023-03-04T15:24:00.000","monthyear":"2023-03-04T15:24:00.000","date_of_birth":"2022-12-12T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Spayed Female","age_upon_outcome":"2 months","breed":"Australian Cattle Dog","color":"Brown Brindle/Black"}\n,{"animal_id":"A805930","name":"*Rachel","datetime":"2019-11-08T18:37:00.000","monthyear":"2019-11-08T18:37:00.000","date_of_birth":"2019-09-11T00:00:00.000","outcome_type":"Adoption","outcome_subtype":"Foster","animal_type":"Dog","sex_upon_outcome":"Spayed Female","age_upon_outcome":"1 month","breed":"Border Collie Mix","color":"Chocolate/White"}\n,{"animal_id":"A672423","name":"Valentine","datetime":"2014-02-14T11:44:00.000","monthyear":"2014-02-14T11:44:00.000","date_of_birth":"2002-02-10T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"Partner","animal_type":"Dog","sex_upon_outcome":"Spayed Female","age_upon_outcome":"12 years","breed":"Collie Rough Mix","color":"Red"}\n,{"animal_id":"A665383","name":"Indica","datetime":"2013-10-30T16:23:00.000","monthyear":"2013-10-30T16:23:00.000","date_of_birth":"2013-06-19T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Spayed Female","age_upon_outcome":"4 months","breed":"German Shepherd Mix","color":"Black/Tan"}\n,{"animal_id":"A806497","name":"*Moo","datetime":"2019-12-17T17:59:00.000","monthyear":"2019-12-17T17:59:00.000","date_of_birth":"2019-06-02T00:00:00.000","outcome_type":"Adoption","animal_type":"Other","sex_upon_outcome":"Spayed Female","age_upon_outcome":"6 months","breed":"Polish","color":"White/White"}\n,{"animal_id":"A754899","name":"Puppy","datetime":"2017-07-29T17:57:00.000","monthyear":"2017-07-29T17:57:00.000","date_of_birth":"2012-07-26T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Spayed Female","age_upon_outcome":"5 years","breed":"German Shepherd Mix","color":"Brown/Black"}\n,{"animal_id":"A746498","name":"Zeus","datetime":"2017-05-03T19:25:00.000","monthyear":"2017-05-03T19:25:00.000","date_of_birth":"2016-04-04T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"1 year","breed":"Rat Terrier/Cardigan Welsh Corgi","color":"Black/White"}\n,{"animal_id":"A813785","name":"Snout","datetime":"2020-02-26T19:45:00.000","monthyear":"2020-02-26T19:45:00.000","date_of_birth":"2019-02-18T00:00:00.000","outcome_type":"Rto-Adopt","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"1 year","breed":"Doberman Pinsch","color":"Black/Brown"}\n,{"animal_id":"A810161","name":"Lizzie","datetime":"2019-12-19T15:54:00.000","monthyear":"2019-12-19T15:54:00.000","date_of_birth":"2019-10-15T00:00:00.000","outcome_type":"Adoption","animal_type":"Dog","sex_upon_outcome":"Spayed Female","age_upon_outcome":"2 months","breed":"Australian Cattle Dog","color":"Blue Tick/Black"}\n,{"animal_id":"A791163","datetime":"2019-03-24T08:22:00.000","monthyear":"2019-03-24T08:22:00.000","date_of_birth":"2019-02-22T00:00:00.000","outcome_type":"Died","outcome_subtype":"In Kennel","animal_type":"Cat","sex_upon_outcome":"Unknown","age_upon_outcome":"4 weeks","breed":"Domestic Shorthair Mix","color":"Black/White"}\n,{"animal_id":"A777234","name":"Tyson","datetime":"2019-01-02T00:00:00.000","monthyear":"2019-01-02T00:00:00.000","date_of_birth":"2017-11-25T00:00:00.000","outcome_type":"Transfer","outcome_subtype":"Partner","animal_type":"Dog","sex_upon_outcome":"Neutered Male","age_upon_outcome":"1 year","breed":"Pit Bull Mix","color":"Blue/White"}\n,{"animal_id":"A684009","name":"Big Boy","datetime":"2014-07-19T18:32:00.000","monthyear":"2014-07-19T18:32:00.000","date_of_birth":"2012-07-18T00:00:00.000","outcome_type":"

In [4]:
animals = pd.read_json(data)

In [5]:
animals.head(10)

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,A794011,Chunk,2019-05-08 18:20:00,2019-05-08T18:20:00.000,2017-05-02T00:00:00.000,Rto-Adopt,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,NaN
1,A776359,Gizmo,2018-07-18 16:02:00,2018-07-18T16:02:00.000,2017-07-12T00:00:00.000,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,NaN
2,A821648,NaN,2020-08-16 11:38:00,2020-08-16T11:38:00.000,2019-08-16T00:00:00.000,Euthanasia,Other,Unknown,1 year,Raccoon,Gray,NaN
3,A720371,Moose,2016-02-13 17:59:00,2016-02-13T17:59:00.000,2015-10-08T00:00:00.000,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,NaN
4,A674754,NaN,2014-03-18 11:47:00,2014-03-18T11:47:00.000,2014-03-12T00:00:00.000,Transfer,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,Partner
5,A659412,Princess,2020-10-05 14:37:00,2020-10-05T14:37:00.000,2013-03-24T00:00:00.000,Adoption,Dog,Spayed Female,7 years,Chihuahua Shorthair Mix,Brown,NaN
6,A814515,Quentin,2020-05-06 07:59:00,2020-05-06T07:59:00.000,2018-03-01T00:00:00.000,Adoption,Dog,Neutered Male,2 years,American Foxhound/Labrador Retriever,White/Brown,Foster
7,A868405,*Leo,2023-03-04 13:38:00,2023-03-04T13:38:00.000,2020-11-02T00:00:00.000,Adoption,Dog,Neutered Male,2 years,Pit Bull Mix,Brown/White,NaN
8,A689724,*Donatello,2014-10-18 18:52:00,2014-10-18T18:52:00.000,2014-08-01T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black,NaN
9,A680969,*Zeus,2014-08-05 16:59:00,2014-08-05T16:59:00.000,2014-06-03T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby,NaN

Those of you familiar with SQL have probably used the GROUP BY command. (And if you haven't, you'll see it very soon!) Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [6]:
animals.groupby('animal_type')

In [7]:
animals.columns

Index(['animal_id', 'name', 'datetime', 'monthyear', 'date_of_birth',
       'outcome_type', 'animal_type', 'sex_upon_outcome', 'age_upon_outcome',
       'breed', 'color', 'outcome_subtype'],
      dtype='object')

# Aggregating over DataFrames: `.groupby()`

We can group by multiple columns, and also return a DataFrameGroupBy object

Notice the object type [DataFrameGroupBy](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html) object.

## `.groups` and `.get_group()`

In [8]:
# This retuns each group indexed by the group name, e.g. 'Bird',
# along with the row indices of each value

animals.groupby('animal_type').groups

{'Bird': [281, 339, 642, 868, 869], 'Cat': [0, 1, 2, 3, 7, 9, 10, 11, 15, 17, 19, 20, 21, 25, 28, 32, 33, 34, 36, 45, 48, 51, 52, 60, 62, 64, 71, 73, 74, 75, 76, 77, 80, 81, 96, 97, 100, 102, 105, 107, 108, 110, 113, 116, 117, 118, 119, 120, 123, 124, 141, 147, 148, 149, 150, 154, 155, 156, 157, 158, 168, 170, 172, 173, 174, 177, 178, 179, 180, 190, 193, 195, 201, 202, 204, 207, 211, 212, 216, 227, 230, 232, 233, 234, 240, 242, 243, 244, 246, 247, 251, 257, 264, 267, 270, 274, 276, 277, 280, 282, ...], 'Dog': [4, 5, 8, 12, 13, 14, 16, 18, 22, 23, 24, 26, 27, 29, 30, 31, 35, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 49, 50, 53, 56, 57, 58, 59, 63, 65, 66, 67, 69, 70, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 101, 103, 104, 106, 109, 111, 112, 114, 115, 121, 122, 125, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 142, 143, 144, 145, 146, 151, 152, 153, 159, 160, 161, 162, 163, 164, 165, 166, 167, 171, ...], 'Other': [6, 54, 55, 61, 68, 72, 126, 127, 128, 169, 410, 439, 440, 441, 559, 572, 596, 612, 637, 645, 657, 664, 688, 733, 737, 746, 759, 760, 788, 838, 842, 846, 878, 879, 891, 893, 901, 914, 928, 930, 931, 942, 947]}

Once we know we are working with a type of object, it opens up a suite of attributes and methods. One attribute we can look at is groups.

In [9]:
# Once we know the group indices, we can return the groups using those indices.
animals.groupby('animal_type').get_group('Dog')

,animal_id,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,name
4,A874677,2023-02-25 16:47:00,2023-02-25T16:47:00.000,2022-09-04T00:00:00.000,Adoption,NaN,Dog,Neutered Male,5 months,Pit Bull,Brown Brindle,Major
5,A839506,2023-02-25 16:33:00,2023-02-25T16:33:00.000,2014-07-22T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,8 years,American Pit Bull Terrier Mix,White/Brown,Beau Beau
8,A872682,2023-02-25 15:52:00,2023-02-25T15:52:00.000,2022-12-31T00:00:00.000,Adoption,NaN,Dog,Neutered Male,1 month,Australian Cattle Dog/Catahoula,Brown/Black,NaN
12,A874708,2023-02-25 14:21:00,2023-02-25T14:21:00.000,2022-11-16T00:00:00.000,Adoption,NaN,Dog,Spayed Female,3 months,Pit Bull,Blue/White,*Bess
13,A875020,2023-02-25 13:38:00,2023-02-25T13:38:00.000,2016-02-21T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,7 years,American Bulldog Mix,Brown,Chulo
...,...,...,...,...,...,...,...,...,...,...,...,...
991,A872646,2023-01-18 15:17:00,2023-01-18T15:17:00.000,2017-01-12T00:00:00.000,Adoption,NaN,Dog,Neutered Male,6 years,Labrador Retriever Mix,Black,Davey
992,A872884,2023-01-18 14:38:00,2023-01-18T14:38:00.000,2020-08-17T00:00:00.000,Adoption,NaN,Dog,Neutered Male,2 years,Great Pyrenees,White,Fluffy
993,A870471,2023-01-18 13:53:00,2023-01-18T13:53:00.000,2022-10-07T00:00:00.000,Adoption,Foster,Dog,Spayed Female,3 months,Anatol Shepherd/Great Dane,Tan/White,*Harper
994,A871549,2023-01-18 11:21:00,2023-01-18T11:21:00.000,2021-12-27T00:00:00.000,Transfer,Partner,Dog,Neutered Male,1 year,Flat Coat Retriever Mix,Black,*Peter
997,A869745,2023-01-18 09:52:00,2023-01-18T09:52:00.000,2022-10-23T00:00:00.000,Adoption,Foster,Dog,Spayed Female,2 months,Australian Shepherd Mix,Blue Merle/White,NaN

In [10]:
animals[(animals['animal_type'] == "Dog")] ## Same as above

,animal_id,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,name
4,A874677,2023-02-25 16:47:00,2023-02-25T16:47:00.000,2022-09-04T00:00:00.000,Adoption,NaN,Dog,Neutered Male,5 months,Pit Bull,Brown Brindle,Major
5,A839506,2023-02-25 16:33:00,2023-02-25T16:33:00.000,2014-07-22T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,8 years,American Pit Bull Terrier Mix,White/Brown,Beau Beau
8,A872682,2023-02-25 15:52:00,2023-02-25T15:52:00.000,2022-12-31T00:00:00.000,Adoption,NaN,Dog,Neutered Male,1 month,Australian Cattle Dog/Catahoula,Brown/Black,NaN
12,A874708,2023-02-25 14:21:00,2023-02-25T14:21:00.000,2022-11-16T00:00:00.000,Adoption,NaN,Dog,Spayed Female,3 months,Pit Bull,Blue/White,*Bess
13,A875020,2023-02-25 13:38:00,2023-02-25T13:38:00.000,2016-02-21T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,7 years,American Bulldog Mix,Brown,Chulo
...,...,...,...,...,...,...,...,...,...,...,...,...
991,A872646,2023-01-18 15:17:00,2023-01-18T15:17:00.000,2017-01-12T00:00:00.000,Adoption,NaN,Dog,Neutered Male,6 years,Labrador Retriever Mix,Black,Davey
992,A872884,2023-01-18 14:38:00,2023-01-18T14:38:00.000,2020-08-17T00:00:00.000,Adoption,NaN,Dog,Neutered Male,2 years,Great Pyrenees,White,Fluffy
993,A870471,2023-01-18 13:53:00,2023-01-18T13:53:00.000,2022-10-07T00:00:00.000,Adoption,Foster,Dog,Spayed Female,3 months,Anatol Shepherd/Great Dane,Tan/White,*Harper
994,A871549,2023-01-18 11:21:00,2023-01-18T11:21:00.000,2021-12-27T00:00:00.000,Transfer,Partner,Dog,Neutered Male,1 year,Flat Coat Retriever Mix,Black,*Peter
997,A869745,2023-01-18 09:52:00,2023-01-18T09:52:00.000,2022-10-23T00:00:00.000,Adoption,Foster,Dog,Spayed Female,2 months,Australian Shepherd Mix,Blue Merle/White,NaN

### Multi-Indexing

In [11]:
# Same goes for multi-index groupbys
animal_outcome = animals.groupby(['animal_type', 'outcome_type'])
animal_outcome.groups

{('Bird', 'Adoption'): [339, 642], ('Bird', 'Return to Owner'): [868, 869], ('Bird', nan): [281], ('Cat', 'Adoption'): [3, 7, 15, 17, 19, 20, 21, 25, 28, 32, 34, 36, 48, 51, 52, 60, 62, 64, 73, 74, 77, 81, 100, 102, 105, 107, 108, 110, 113, 123, 124, 148, 149, 158, 168, 170, 172, 173, 174, 177, 179, 180, 195, 201, 202, 204, 211, 212, 216, 227, 230, 242, 243, 244, 246, 247, 257, 264, 267, 270, 274, 276, 277, 280, 282, 283, 286, 287, 288, 289, 290, 296, 297, 298, 302, 303, 304, 307, 321, 329, 342, 355, 362, 365, 379, 380, 384, 396, 399, 426, 448, 454, 456, 474, 477, 480, 481, 482, 483, 489, ...], ('Cat', 'Died'): [141, 392, 708], ('Cat', 'Euthanasia'): [150, 190, 240, 385, 515, 538, 626, 686, 698, 811, 870], ('Cat', 'Return to Owner'): [33, 45, 75, 80, 147, 178, 193, 381, 462, 577, 621, 635, 836, 871, 946], ('Cat', 'Rto-Adopt'): [76, 523, 524, 525, 526, 527], ('Cat', 'Transfer'): [0, 1, 2, 9, 10, 11, 71, 96, 97, 116, 117, 118, 119, 120, 154, 155, 156, 157, 207, 232, 233, 234, 251, 306, 317, 318, 319, 405, 406, 407, 408, 411, 412, 413, 414, 415, 416, 417, 419, 420, 422, 423, 438, 478, 479, 508, 509, 510, 511, 512, 513, 514, 632, 633, 634, 639, 662, 702, 703, 704, 705, 706, 707, 709, 710, 722, 723, 724, 725, 726, 727, 728, 729, 730, 751, 753, 754, 755, 758, 784, 785, 786, 787, 789, 790, 791, 794, 823, 824, 825, 826, 827, 828, 829, 841, 884, 945, 961, 962, 963, ...], ('Dog', 'Adoption'): [4, 8, 12, 16, 18, 22, 23, 24, 27, 29, 30, 31, 43, 44, 49, 53, 56, 57, 58, 59, 63, 65, 66, 67, 70, 78, 79, 91, 98, 99, 101, 103, 106, 109, 121, 122, 125, 130, 132, 133, 134, 136, 137, 139, 140, 142, 143, 144, 145, 146, 151, 152, 159, 161, 162, 163, 164, 165, 166, 171, 176, 181, 182, 183, 184, 185, 186, 187, 189, 191, 192, 194, 198, 199, 203, 205, 206, 208, 213, 214, 215, 220, 222, 228, 231, 235, 236, 237, 238, 239, 241, 245, 250, 254, 255, 258, 259, 260, 262, 263, ...], ('Dog', 'Died'): [374, 650], ('Dog', 'Euthanasia'): [26, 112, 131, 248, 256, 430, 689, 796, 977], ('Dog', 'Return to Owner'): [5, 13, 41, 42, 47, 104, 111, 129, 153, 188, 196, 197, 210, 221, 229, 249, 253, 275, 357, 403, 409, 446, 449, 451, 452, 459, 463, 464, 517, 521, 522, 528, 545, 551, 556, 558, 563, 573, 574, 579, 608, 611, 656, 673, 674, 683, 694, 695, 700, 735, 779, 831, 839, 855, 880, 927, 932, 934, 935, 936, 937, 938, 939, 940, 968, 973], ('Dog', 'Rto-Adopt'): [167, 175, 209, 468, 498, 777, 923, 929], ('Dog', 'Transfer'): [14, 35, 37, 38, 39, 40, 50, 69, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 114, 115, 135, 138, 160, 200, 217, 218, 219, 223, 224, 225, 226, 252, 261, 308, 310, 311, 312, 313, 314, 315, 316, 322, 323, 324, 325, 326, 332, 382, 383, 386, 387, 388, 389, 390, 391, 393, 394, 401, 424, 435, 436, 455, 465, 484, 485, 486, 487, 493, 495, 496, 500, 507, 532, 533, 571, 578, 584, 587, 638, 640, 647, 648, 649, 670, 678, 684, 685, 701, 711, 712, 713, 714, 732, 743, 747, 748, 749, ...], ('Dog', nan): [46], ('Other', 'Adoption'): [54, 55, 61, 572, 637, 737, 788, 914, 947], ('Other', 'Disposal'): [440], ('Other', 'Euthanasia'): [6, 68, 72, 126, 127, 128, 169, 410, 439, 441, 559, 596, 612, 645, 657, 664, 688, 733, 746, 760, 838, 842, 846, 878, 879, 891, 893, 901, 928], ('Other', 'Transfer'): [759, 930, 931, 942]}

In [12]:
type(animal_outcome.groups[('Dog', 'Adoption')])

pandas.core.indexes.numeric.Int64Index

In [13]:
# animal_outcome.groups is a dictionary, so we can access the group names using keys()
animal_outcome.groups.keys()

dict_keys([('Bird', 'Adoption'), ('Bird', 'Return to Owner'), ('Bird', nan), ('Cat', 'Adoption'), ('Cat', 'Died'), ('Cat', 'Euthanasia'), ('Cat', 'Return to Owner'), ('Cat', 'Rto-Adopt'), ('Cat', 'Transfer'), ('Dog', 'Adoption'), ('Dog', 'Died'), ('Dog', 'Euthanasia'), ('Dog', 'Return to Owner'), ('Dog', 'Rto-Adopt'), ('Dog', 'Transfer'), ('Dog', nan), ('Other', 'Adoption'), ('Other', 'Disposal'), ('Other', 'Euthanasia'), ('Other', 'Transfer')])

In [15]:
animals['animal_type'].value_counts()

Dog      597
Cat      355
Other     43
Bird       5
Name: animal_type, dtype: int64

In [16]:
animals['outcome_type'].value_counts()

Adoption           596
Transfer           250
Return to Owner     83
Euthanasia          49
Rto-Adopt           14
Died                 5
Disposal             1
Name: outcome_type, dtype: int64

In [17]:
# We can then get a specific group, such as cats that were adopted
animal_outcome.get_group(('Cat', 'Adoption'))

,animal_id,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,name
3,A873239,2023-02-25 16:57:00,2023-02-25T16:57:00.000,2021-01-23T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 years,Domestic Shorthair,Blue,*Sage
7,A873205,2023-02-25 15:59:00,2023-02-25T15:59:00.000,2021-01-22T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 years,Domestic Shorthair,Brown Tabby,*Mustard
15,A875131,2023-02-25 13:33:00,2023-02-25T13:33:00.000,2022-03-22T00:00:00.000,Adoption,NaN,Cat,Neutered Male,11 months,Domestic Shorthair,White/Brown Tabby,Felix
17,A869077,2023-02-25 09:49:00,2023-02-25T09:49:00.000,2022-07-12T00:00:00.000,Adoption,Foster,Cat,Spayed Female,7 months,Domestic Shorthair,Orange Tabby/White,*Trudy
19,A875132,2023-02-25 00:00:00,2023-02-25T00:00:00.000,2022-03-22T00:00:00.000,Adoption,NaN,Cat,Neutered Male,11 months,Domestic Shorthair,Brown Tabby,Cecil
...,...,...,...,...,...,...,...,...,...,...,...,...
982,A861828,2023-01-18 16:48:00,2023-01-18T16:48:00.000,2022-07-01T00:00:00.000,Adoption,Foster,Cat,Spayed Female,6 months,Domestic Shorthair,Brown Tabby,NaN
983,A872457,2023-01-18 16:44:00,2023-01-18T16:44:00.000,2022-11-10T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Brown Tabby,NaN
984,A872458,2023-01-18 16:44:00,2023-01-18T16:44:00.000,2022-11-10T00:00:00.000,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Longhair,Brown Tabby/White,NaN
987,A872539,2023-01-18 16:17:00,2023-01-18T16:17:00.000,2022-07-11T00:00:00.000,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair,Tortie,NaN
996,A868484,2023-01-18 10:13:00,2023-01-18T10:13:00.000,2016-11-04T00:00:00.000,Adoption,Foster,Cat,Neutered Male,6 years,Domestic Shorthair,Brown Tabby/White,Isaac

## Aggregating

Once again, as we will see in SQL, groupby objects are intended to be used with aggregation. In SQL, we will see that our queries that include GROUP BY require aggregation performed on columns.

We can use `.sum()`, `.mean()`, `.count()`, `.max()`, `.min()`, etc. Find a list of common aggregations [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html).

In [8]:
animals.groupby('animal_type').count()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
animal_type,,,,,,,,,,,
Bird,2,2,2,2,2,2,2,2,2,2,0
Cat,368,213,368,368,368,368,368,368,368,368,227
Dog,578,491,578,578,578,578,578,578,578,578,196
Other,52,9,52,52,52,52,52,52,52,52,44

## Exercise

Use `.groupby()` to find the most recently born of each (main) animal type.

In [10]:
# This is a string object
type(animals['date_of_birth'][0])
animals['date_of_birth'][0]

# Change the str into datetime object?
animals['date_of_birth'] = pd.to_datetime(animals['date_of_birth'])

animals[['date_of_birth', 'monthyear']]

animals.groupby('animal_type')['date_of_birth'].max()

animal_type
Bird    2015-02-14
Cat     2022-11-07
Dog     2023-01-02
Other   2022-02-28
Name: date_of_birth, dtype: datetime64[ns]

<details>
    <summary>Answer</summary>

```python
animals.groupby('animal_type')['date_of_birth'].max()
```
</details>

# Pivoting a DataFrame

## `.pivot_table()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

Grouping by two different columns can be very helpful.

In [19]:
animals.groupby(by=['outcome_type', 'sex_upon_outcome']).agg(len)

                                  animal_id  datetime  monthyear  \
outcome_type    sex_upon_outcome
Adoption        Intact Female            10        10         10
                Intact Male               8         8          8
                Neutered Male           316       316        316
                Spayed Female           278       278        278
                Unknown                   3         3          3
Died            Intact Female             1         1          1
                Intact Male               2         2          2
                Neutered Male             1         1          1
                Spayed Female             1         1          1
Disposal        Unknown                   1         1          1
Euthanasia      Intact Female             6         6          6
                Intact Male               5         5          5
                Neutered Male             4         4          4
                Spayed Female             2         2          2
                Unknown                  34        34         34
Return to Owner Intact Female            17        17         17
                Intact Male              20        20         20
                Neutered Male            27        27         27
                Spayed Female            12        12         12
                Unknown                   4         4          4
Rto-Adopt       Neutered Male             9         9          9
                Spayed Female             5         5          5
Transfer        Intact Female            86        86         86
                Intact Male              74        74         74
                Neutered Male            31        31         31
                Spayed Female            26        26         26
                Unknown                  16        16         16

                                  date_of_birth  outcome_subtype  animal_type  \
outcome_type    sex_upon_outcome
Adoption        Intact Female                10               10           10
                Intact Male                   8                8            8
                Neutered Male               316              316          316
                Spayed Female               278              278          278
                Unknown                       3                3            3
Died            Intact Female                 1                1            1
                Intact Male                   2                2            2
                Neutered Male                 1                1            1
                Spayed Female                 1                1            1
Disposal        Unknown                       1                1            1
Euthanasia      Intact Female                 6                6            6
                Intact Male                   5                5            5
                Neutered Male                 4                4            4
                Spayed Female                 2                2            2
                Unknown                      34               34           34
Return to Owner Intact Female                17               17           17
                Intact Male                  20               20           20
                Neutered Male                27               27           27
                Spayed Female                12               12           12
                Unknown                       4                4            4
Rto-Adopt       Neutered Male                 9                9            9
                Spayed Female                 5                5            5
Transfer        Intact Female                86               86           86
                Intact Male                  74               74           74
                Neutered Male                31               31           31
                Spayed Female                26               26           26
                Unknown                      16               16           16

                                  age_upon_outcome  breed  color  name
outcome_type    sex_upon_outcome
Adoption        Intact Female                   10     10     10    10
                Intact Male                      8      8      8     8
                Neutered Male                  316    316    316   316
                Spayed Female                  278    278    278   278
                Unknown                          3      3      3     3
Died            Intact Female                    1      1      1     1
                Intact Male                      2      2      2     2
                Neutered Male                    1      1      1     1
                Spayed Female                    1      1      1     1
Disposal        Unknown                          1      1      1     1
Euthanasia      Intact Female                    6      6      6     6
                Intact Male                      5      5      5     5
                Neutered Male                    4      4      4     4
                Spayed Female                    2      2      2     2
                Unknown                         34     34     34    34
Return to Owner Intact Female                   17     17     17    17
                Intact Male                     20     20     20    20
                Neutered Male                   27     27     27    27
                Spayed Female                   12     12     12    12
                Unknown                          4      4      4     4
Rto-Adopt       Neutered Male                    9      9      9     9
                Spayed Female                    5      5      5     5
Transfer        Intact Female                   86     86     86    86
                Intact Male                     74     74     74    74
                Neutered Male                   31     31     31    31
                Spayed Female                   26     26     26    26
                Unknown                         16     16     16    16

But it has the unsavory side effect of creating a two-level index. This can be a good time to use `.pivot_table()`.

(There is also a `.pivot()`. For the somewhat subtle differences, see [here](https://stackoverflow.com/questions/30960338/pandas-difference-between-pivot-and-pivot-table-why-is-only-pivot-table-workin).)

### Example

In [9]:
df = pd.DataFrame({"sex": ["male", "male", "male", "male", "male",
                          "female", "female", "female", "female"],
                    "num_puppies": ["one", "one", "one", "two", "two",
                          "one", "one", "two", "two"],
                    "breed": ["terrier", "retriever", "retriever", "terrier",
                          "terrier", "retriever", "terrier", "terrier",
                          "retriever"],
                    "past_owners": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                    "family_members": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df

      sex num_puppies      breed  past_owners  family_members
0    male         one    terrier            1               2
1    male         one  retriever            2               4
2    male         one  retriever            2               5
3    male         two    terrier            3               5
4    male         two    terrier            3               6
5  female         one  retriever            4               6
6  female         one    terrier            5               8
7  female         two    terrier            6               9
8  female         two  retriever            7               9

In [10]:
# This first example aggregates values by taking the sum.

table = pd.pivot_table(df, values='past_owners', index=['sex', 'num_puppies'],
                     columns=['breed'], aggfunc=np.sum)
table

breed               retriever  terrier
sex    num_puppies
female one                4.0      5.0
       two                7.0      6.0
male   one                4.0      1.0
       two                NaN      6.0

### Back to Austin animals

In [22]:
animals.pivot_table(index='outcome_type', columns='sex_upon_outcome', aggfunc=len)

                 age_upon_outcome                                          \
sex_upon_outcome    Intact Female Intact Male Neutered Male Spayed Female
outcome_type
Adoption                     10.0         8.0         316.0         278.0
Died                          1.0         2.0           1.0           1.0
Disposal                      NaN         NaN           NaN           NaN
Euthanasia                    6.0         5.0           4.0           2.0
Return to Owner              17.0        20.0          27.0          12.0
Rto-Adopt                     NaN         NaN           9.0           5.0
Transfer                     86.0        74.0          31.0          26.0

                             animal_id                            \
sex_upon_outcome Unknown Intact Female Intact Male Neutered Male
outcome_type
Adoption             3.0          10.0         8.0         316.0
Died                 NaN           1.0         2.0           1.0
Disposal             1.0           NaN         NaN           NaN
Euthanasia          34.0           6.0         5.0           4.0
Return to Owner      4.0          17.0        20.0          27.0
Rto-Adopt            NaN           NaN         NaN           9.0
Transfer            16.0          86.0        74.0          31.0

                                        ...          name              \
sex_upon_outcome Spayed Female Unknown  ... Intact Female Intact Male
outcome_type                            ...
Adoption                 278.0     3.0  ...          10.0         8.0
Died                       1.0     NaN  ...           1.0         2.0
Disposal                   NaN     1.0  ...           NaN         NaN
Euthanasia                 2.0    34.0  ...           6.0         5.0
Return to Owner           12.0     4.0  ...          17.0        20.0
Rto-Adopt                  5.0     NaN  ...           NaN         NaN
Transfer                  26.0    16.0  ...          86.0        74.0

                                                     outcome_subtype  \
sex_upon_outcome Neutered Male Spayed Female Unknown   Intact Female
outcome_type
Adoption                 316.0         278.0     3.0            10.0
Died                       1.0           1.0     NaN             1.0
Disposal                   NaN           NaN     1.0             NaN
Euthanasia                 4.0           2.0    34.0             6.0
Return to Owner           27.0          12.0     4.0            17.0
Rto-Adopt                  9.0           5.0     NaN             NaN
Transfer                  31.0          26.0    16.0            86.0


sex_upon_outcome Intact Male Neutered Male Spayed Female Unknown
outcome_type
Adoption                 8.0         316.0         278.0     3.0
Died                     2.0           1.0           1.0     NaN
Disposal                 NaN           NaN           NaN     1.0
Euthanasia               5.0           4.0           2.0    34.0
Return to Owner         20.0          27.0          12.0     4.0
Rto-Adopt                NaN           9.0           5.0     NaN
Transfer                74.0          31.0          26.0    16.0

[7 rows x 50 columns]

## Exercise

Use `.pivot_table()` to add up the number of my tasks by category. 

>  Hint: Use `sum()` as your aggregating function.

In [12]:
tasks = pd.DataFrame({'category': ['house', 'house', 'school', 'school'],
                      'descr': ['kitchen', 'laundry', 'git', 'Python'],
                      'priority': [2, 3, 4, 1], 'num_tasks': [2, 1, 2, 3]})

tasks

  category    descr  priority  num_tasks
0    house  kitchen         2          2
1    house  laundry         3          1
2   school      git         4          2
3   school   Python         1          3

In [13]:
# Enter your code here!
table = pd.pivot_table(tasks, values='num_tasks', index=['category'],
                     columns=['descr'], aggfunc=np.sum)
table

descr     Python  git  kitchen  laundry
category
house        NaN  NaN      2.0      1.0
school       3.0  2.0      NaN      NaN

<details>
    <summary>Answer</summary>

```python
tasks.pivot_table(values='num_tasks', index='category', aggfunc=sum)
```
</details>

# Methods for Combining DataFrames: `.join()`, `.merge()`, `pd.concat()`

## `.join()`

In [14]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'MP'])

toy1

   age   HP
0   63  142
1   33   47

In [15]:
toy2

   age   MP
0   63  100
1   33  200

In [16]:
# We can't just join these as they are, since we haven't specified our suffixes.
toy1.join(toy2)

ValueError: columns overlap but no suffix specified: Index(['age'], dtype='object')

In [17]:
toy1.join(toy2, lsuffix='1', rsuffix='2')

   age1   HP  age2   MP
0    63  142    63  100
1    33   47    33  200

If we don't want to keep both, we could set the overlapping column as the index in each DataFrame:

In [18]:
toy1.set_index('age').join(toy2.set_index('age'))

      HP   MP
age
63   142  100
33    47  200

In [19]:
toy1.drop('age', axis=1).join(toy2)

    HP  age   MP
0  142   63  100
1   47   33  200

For more on this method, check out the [doc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html)!

## `.merge()`

Or we could use `.merge()`:

In [20]:
toy1.merge(toy2)

   age   HP   MP
0   63  142  100
1   33   47  200

In [11]:
ds_chars = pd.read_csv('ds_chars.csv', index_col=0)
ds_chars

     name   HP home_state
0    greg  200         WA
1   miles  200         WA
2    alan  170         TX
3  alison  300         DC
4  rachel  200         TX

In [13]:
states = pd.read_csv('states.csv', index_col=0)
states

  state   nickname     capital
0    WA  evergreen     Olympia
1    TX      alamo      Austin
2    DC   district  Washington
3    OH    buckeye    Columbus
4    OR     beaver       Salem

## The `how` Parameter

This parameter in both `.join()` and `.merge()` tells the compiler what sort of join to effect. We'll cover this in detail when we discuss SQL.

In [14]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

     name   HP home_state state   nickname     capital
0    greg  200         WA    WA  evergreen     Olympia
1   miles  200         WA    WA  evergreen     Olympia
2    alan  170         TX    TX      alamo      Austin
3  rachel  200         TX    TX      alamo      Austin
4  alison  300         DC    DC   district  Washington

In [15]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='outer')

     name     HP home_state state   nickname     capital
0    greg  200.0         WA    WA  evergreen     Olympia
1   miles  200.0         WA    WA  evergreen     Olympia
2    alan  170.0         TX    TX      alamo      Austin
3  rachel  200.0         TX    TX      alamo      Austin
4  alison  300.0         DC    DC   district  Washington
5     NaN    NaN        NaN    OH    buckeye    Columbus
6     NaN    NaN        NaN    OR     beaver       Salem

## `pd.concat()`

This method takes a *list* of pandas objects as arguments.

In [16]:
prefs = pd.read_csv('preferences.csv', index_col=0)
prefs

    cuisine        genre
0     Greek       horror
1    Indian        scifi
2  American      fantasy
3      Thai         tech
4    Indian  documentary

In [17]:
ds_full = pd.concat([ds_chars, prefs])
ds_full

     name     HP home_state   cuisine        genre
0    greg  200.0         WA       NaN          NaN
1   miles  200.0         WA       NaN          NaN
2    alan  170.0         TX       NaN          NaN
3  alison  300.0         DC       NaN          NaN
4  rachel  200.0         TX       NaN          NaN
0     NaN    NaN        NaN     Greek       horror
1     NaN    NaN        NaN    Indian        scifi
2     NaN    NaN        NaN  American      fantasy
3     NaN    NaN        NaN      Thai         tech
4     NaN    NaN        NaN    Indian  documentary

`pd.concat()`–– and many other pandas operations –– make use of an `axis` parameter. For this particular method I need to specify whether I want to concatenate the DataFrames *row-wise* (`axis=0`) or *column-wise* (`axis=1`). The default is `axis=0`, so let's override that!

In [18]:
ds_full = pd.concat([ds_chars, prefs], axis=1)
ds_full

     name   HP home_state   cuisine        genre
0    greg  200         WA     Greek       horror
1   miles  200         WA    Indian        scifi
2    alan  170         TX  American      fantasy
3  alison  300         DC      Thai         tech
4  rachel  200         TX    Indian  documentary

# King County Assessments

As data scientists, we want to build a model to predict the sale price of a house in Seattle in 2019, based on its square footage. We know that the King County Department of Assessments has comprehensive data available on real property sales in the Seattle area. We need to prepare the data.

## First, get the data!

Go [here](https://info.kingcounty.gov/assessor/DataDownload/default.aspx) and download two files: "Real Property Sales" and "Residential Building". Then unzip them. (Or you can run the cells below if you prefer.)

In [19]:
# %%bash
# cd data
# curl -o property_sales.zip https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip

In [20]:
# %%bash
# cd data
# curl -o res_bldg.zip https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip

In [21]:
# zf = ZipFile('data/property_sales.zip', 'r')
# zf.extractall('data')
# zf.close()

In [22]:
# zf = ZipFile('data/res_bldg.zip', 'r')
# zf.extractall('data')
# zf.close()

In [5]:
# You'll need to use a new encoding here. List of all encodings here:
# https://docs.python.org/3/library/codecs.html#standard-encodings

# Both of these csv files have many columns, so we'll just pre-select
# which ones we want to use.

sales_df = pd.read_csv('EXTR_RPSale.csv',
                       encoding='latin-1',
                       usecols=['Major', 'Minor', 'DocumentDate', 'SalePrice'])

C:\Users\stils\AppData\Local\Temp\ipykernel_12444\111595612.py:7: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_df = pd.read_csv('EXTR_RPSale.csv',

In [6]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2272289 entries, 0 to 2272288
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   Major         object
 1   Minor         object
 2   DocumentDate  object
 3   SalePrice     int64
dtypes: int64(1), object(3)
memory usage: 69.3+ MB

In [7]:
bldg_df = pd.read_csv('EXTR_ResBldg.csv',
                     usecols=['Major', 'Minor', 'SqFtTotLiving', 'ZipCode'], low_memory=False)

In [28]:
bldg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524532 entries, 0 to 524531
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Major          524532 non-null  int64
 1   Minor          524532 non-null  int64
 2   ZipCode        472780 non-null  object
 3   SqFtTotLiving  524532 non-null  int64
dtypes: int64(3), object(1)
memory usage: 16.0+ MB

In [23]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

In [24]:
sales_data.head()

  Major Minor DocumentDate  SalePrice ZipCode  SqFtTotLiving
0  4000   228   04/29/1997     103500   98168           1560
1  4000   228   10/15/2014     221900   98168           1560
2  4000   228   08/28/2020          0   98168           1560
3  4000   228   05/06/2005     198000   98168           1560
4  4000   228   04/26/2019     369000   98168           1560

In [31]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1582806 entries, 0 to 1582805
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Major          1582806 non-null  object
 1   Minor          1582806 non-null  object
 2   DocumentDate   1582806 non-null  object
 3   SalePrice      1582806 non-null  int64
 4   ZipCode        1438996 non-null  object
 5   SqFtTotLiving  1582806 non-null  int64
dtypes: int64(2), object(4)
memory usage: 84.5+ MB

We can see right away that we're missing ZIP codes for many of the sales transactions.

In [32]:
sales_data.loc[sales_data['ZipCode'].isna()].head()

     Major Minor DocumentDate  SalePrice ZipCode  SqFtTotLiving
34  226700   160   05/08/2003          0     NaN           1560
35  226700   160   05/11/1996          0     NaN           1560
36  226700   160   09/08/2011          0     NaN           1560
37  226700   160   10/09/2018     855000     NaN           1560
38  226700   160   01/24/2020          0     NaN           1560

## Exercise

What percentage of housing records are missing ZIP codes?

In [39]:
sales_data.count() / sales_data['ZipCode'].isna().count()

Major            1.000000
Minor            1.000000
DocumentDate     1.000000
SalePrice        1.000000
ZipCode          0.909142
SqFtTotLiving    1.000000
dtype: float64

<details>
    <summary>Answer</summary>

```python
sales_data['ZipCode'].isna().sum() / sales_data.shape[0]
```
</details>

Let's drop the rows with missing zip codes.

In [25]:
sales_data = sales_data.loc[~sales_data['ZipCode'].isna(), :]

sales_data.head()

  Major Minor DocumentDate  SalePrice ZipCode  SqFtTotLiving
0  4000   228   04/29/1997     103500   98168           1560
1  4000   228   10/15/2014     221900   98168           1560
2  4000   228   08/28/2020          0   98168           1560
3  4000   228   05/06/2005     198000   98168           1560
4  4000   228   04/26/2019     369000   98168           1560

## Data Cleaning Exercises with Pandas

### Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.

In [33]:
# What does invalid values mean?  Nothing is returned when I use .isna().
missingSales = sales_data[sales_data['SalePrice'] <= 0]
missingSales
missingSqFt = sales_data[sales_data['SqFtTotLiving'] <= 0]
missingSqFt

          Major Minor DocumentDate  SalePrice ZipCode  SqFtTotLiving
189966   941240   165   02/15/2012          0   98118              0
189968   941240   165   10/28/2011    1000000   98118              0
189970   941240   165   07/16/2014    1300000   98118              0
189972   941240   165   11/09/2011    1515000   98118              0
189974   941240   165   12/01/1986     275000   98118              0
763296   917960   425   06/12/1991      59000   98030              0
1071881  351400    25   07/23/2018          0   98146              0
1071882  351400    25   07/23/2018          0   98146              0
1071883  351400    25   10/12/2022     376000   98146              0
1276084  501500   140   06/11/2003     310000   98112              0
1276085  501500   140   06/18/2013          0   98112              0
1276086  501500   140   08/14/2009          0   98112              0

<details>
    <summary>One possible answer here</summary>

```python
sales_data = sales_data[sales_data['SalePrice'] > 10000]
```
</details>

### Investigate and handle non-numeric ZipCode values

Can you find a way to shorten ZIP+4 codes to the first five digits?

In [39]:
def is_integer(x):
    try:
        _ = int(x)
    except ValueError:
        return False
    return True

sales_data.loc[sales_data['ZipCode'].apply(is_integer) == False, 'ZipCode'].head()

12624    98199-3014
12625    98199-3014
12626    98199-3014
21745    98028-8908
21746    98028-8908
Name: ZipCode, dtype: object

In [41]:
def five_digit_ZIP(x):
    try:
        return int(str(x)[:5])
    except:
        return x

sales_data['ZipCode'] = sales_data['ZipCode'].map(five_digit_ZIP)
sales_data = sales_data.loc[sales_data['ZipCode'].apply(is_integer) == True, :]
sales_data['ZipCode'] = sales_data['ZipCode'].map(int)

C:\Users\stils\AppData\Local\Temp\ipykernel_12444\4117746564.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_data['ZipCode'] = sales_data['ZipCode'].map(five_digit_ZIP)

<details>
    <summary>One possible answer here</summary>

```python
def five_digit_ZIP(x):
    try:
        return int(str(x)[:5])
    except:
        return x
    
sales_data['ZipCode'] = sales_data['ZipCode'].map(five_digit_ZIP)
sales_data = sales_data.loc[sales_data['ZipCode'].apply(is_integer) == True, :]
sales_data['ZipCode'] = sales_data['ZipCode'].map(int)
```
</details>

### Add a column for PricePerSqFt

In [43]:
sales_data['PricePerSqFt'] = sales_data['SalePrice'] / sales_data['SqFtTotLiving']
sales_data['PricePerSqFt']

0           66.346154
1          142.243590
2            0.000000
3          126.923077
4          236.538462
              ...
1582800     89.714286
1582802    216.494845
1582803    416.666667
1582804      0.000000
1582805     77.464789
Name: PricePerSqFt, Length: 1438968, dtype: float64

<details>
    <summary>Answer here</summary>

```python
sales_data['PricePerSqFt'] = sales_data['SalePrice'] / sales_data['SqFtTotLiving']
```
</details>

### Subset the data to 2021 sales only

We can assume that the DocumentDate is approximately the sale date.

In [44]:
sales_data['DocumentDate'] = pd.to_datetime(sales_data['DocumentDate'])
sales_data = sales_data.loc[sales_data['DocumentDate'] > '12/31/2020']
sales_data

,Major,Minor,DocumentDate,SalePrice,ZipCode,SqFtTotLiving,PricePerSqFt
26,739930,360,2022-05-24,675000,98055,1180,572.033898
44,891050,230,2021-12-13,920000,98133,2770,332.129964
46,891050,230,2021-12-28,0,98133,2770,0.000000
52,118000,275,2021-09-29,311000,98178,2880,107.986111
117,952810,2996,2022-08-17,800000,98115,1540,519.480519
...,...,...,...,...,...,...,...
1582722,894510,220,2021-03-12,436000,98023,1730,252.023121
1582753,808190,170,2022-03-29,2650000,98117,3270,810.397554
1582777,124500,1380,2022-06-06,0,98033,1910,0.000000
1582794,286560,230,2022-02-28,665000,98001,2100,316.666667
1582803,955780,100,2022-04-29,500000,98148,1200,416.666667

<details>
    <summary>Answer here</summary>

```python
sales_data['DocumentDate'] = pd.to_datetime(sales_data['DocumentDate'])
sales_data = sales_data.loc[sales_data['DocumentDate'] > '12/31/2020']
```
</details>

### What is the mean price per square foot for a house sold in Seattle in 2021?

In [45]:
sales_data['PricePerSqFt'].mean()

inf

<details>
    <summary>Answer here</summary>

```python
sales_data['PricePerSqFt'].mean()
```
</details>