# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [111]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [18]:
# Create a District Summary
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [68]:
# Total number of schools
# The following shows number of students by school_name:
# school_data_complete['school_name'].value_counts()
# school_data_complete.groupby(['school_name']).agg(['count'])
total_num_schools = school_data_complete['school_name'].nunique()
total_num_schools

15

In [50]:
total_num_students = school_data_complete['Student ID'].count()

In [7]:
# Total budget
# school_data_complete.groupby(['school_name']).sum('budget')
school_data_complete['budget'].sum()
# school_data_complete.groupby(['budget']).sum()

82932329558

In [93]:
# Average math score
avg_math_score = school_data_complete['math_score'].mean()
avg_math_score

78.98537145774827

In [94]:
# Average reading score
avg_read_score = school_data_complete['reading_score'].mean()
avg_read_score

81.87784018381414

In [95]:
# Overall average score
# Take the average of the average math score and the average reading score.  Weigh them equally.
avg_overall_score = (school_data_complete['math_score'].mean()+school_data_complete['reading_score'].mean())/2
avg_overall_score

80.43160582078121

In [138]:
# Percentage of passing math (70 or greater)

# school_data_complete.loc[(school_data_complete.math_score < 70)].groupby(['School ID']).agg('count')
# school_data_complete.loc[(school_data_complete.math_score < 70)]
# .sum() # / school_data_complete.value_counts()
percentage_pass_math = school_data_complete[school_data_complete['math_score'] > 70] 
# percentage_pass_math.groupby[('School ID')]
# percentage_pass_read = school_data_complete['reading_score'] > 70
# percentage_pass_read
percentage_pass_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Budget per student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,655.0
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,655.0
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,655.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,638.0
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,638.0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,638.0

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [98]:
#  Sort and display the top five schools in overall passing rate
# new_table = pd.DataFrame()
# school_data_complete['flunking_math'] = school_data_complete['math_score'] >= 70
# new_table["passing_math"] = school_data_complete['flunking_math'].value_counts() / school_data_complete['flunking_math'].value_counts().sum() * 100
# new_table

data = {'Total number of schools':[total_num_schools],\
        'Total number of students':[total_num_students],\
        'Total budget':[total_budget],\
        'Average Math Score':[avg_math_score],\
        'Average Reading Score':[avg_read_score],\
        'Overall Average Score':[avg_overall_score],\
        'Math Passing Percentage':[percentage_pass_math],\
        'Reading Passing Percentage':[percentage_pass_read]}
result_dataframe = pd.DataFrame(data)
result_dataframe

,Total number of schools,Total number of students,Total budget,Average Math Score,Average Reading Score,Overall Average Score,Math Passing Percentage,Reading Passing Percentage
0,15,39170,82932329558,78.985371,81.87784,80.431606,0 True 1 False 2 False 3...,0 False 1 True 2 True 3...

In [100]:
# Calculate total school budget
school_data_complete.rename(columns={'flunking_math':'passing_math'})
school_data_complete.groupby(['school_name']).sum('budget')

,Student ID,reading_score,math_score,School ID,size,budget,flunking_math,Budget per student
school_name,,,,,,,,
Bailey High School,101303896,403225,383393,34832,24760576,15549641728,3318,3124928.0
Cabrera High School,31477307,156027,154329,11148,3452164,2009159448,1749,1081356.0
Figueroa High School,12949059,239335,226223,2949,8696601,5557128039,1946,1884411.0
Ford High School,99055935,221164,211184,35607,7502121,4831365924,1871,1763916.0
Griffin High School,19077394,123043,122360,5872,2155024,1346890000,1371,917500.0
Hernandez High School,46090440,375131,358238,13905,21483225,14007062700,3094,3022020.0
Holden High School,9846620,35789,35784,3416,182329,105933149,395,248087.0
Huang High School,4252986,236810,223528,0,8508889,5573322295,1916,1910635.0
Johnson High School,154327815,385481,366942,57132,22667121,14733628650,3145,3094650.0
Pena High School,22851829,80851,80654,8658,925444,563595396,910,585858.0
Rodriguez High School,112111965,322898,307294,43989,15992001,10186904637,2654,2547363.0
Shelton High School,11879706,147441,146796,3522,3101121,1860672600,1653,1056600.0
Thomas High School,62705520,137093,136389,22890,2673225,1705517550,1525,1043130.0
Wilson High School,33950493,191748,190115,11415,5212089,3012587442,2143,1319574.0
Wright High School,45243900,151119,150628,18000,3240000,1888920000,1680,1049400.0

In [131]:
# Calculate per student budget in a new column
school_data_complete.rename(columns={'flunking_math':'passing_math'})
school_data_complete["Budget per student"] = (school_data_complete['budget'] / school_data_complete['size'])
# school_data_complete.groupby(['School ID']).agg()
school_data_complete.groupby(['School ID']).mean()["Budget per student"]

School ID
0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
Name: Budget per student, dtype: float64

In [114]:
# Calculate the avg math and reading score

school_data_complete['math_score'].mean()

78.98537145774827

#### Find the passing rate for math and reading (above 70 points)

In [150]:
# Find the total counts of math result
school_data_complete['math_score'].count()
percentage_pass_math.count()

# Find the counts for math result in each school that pass 70 or higher
# Calculate the math passing rate
(school_data_complete.loc[(school_data_complete.math_score >= 70)].groupby(['School ID']).count() / school_data_complete.groupby(['School ID']).count() )["Student ID"]

School ID
0     0.656839
1     0.659885
2     0.938671
3     0.667530
4     0.933924
5     0.938677
6     0.941335
7     0.666801
8     0.925059
9     0.945946
10    0.933333
11    0.663666
12    0.660576
13    0.683096
14    0.932722
Name: Student ID, dtype: float64

In [153]:
# Find the total counts of reading result
school_data_complete['reading_score'].count()
percentage_pass_read.count()

# Find the counts for reading result in each school that pass 70 or higher
# Calculate the reading passing rate
(school_data_complete.loc[(school_data_complete.reading_score >= 70)].groupby(['School ID']).count() / school_data_complete.groupby(['School ID']).count() )["Student ID"]

School ID
0     0.813164
1     0.807392
2     0.958546
3     0.808630
4     0.971390
5     0.965396
6     0.970398
7     0.819333
8     0.962529
9     0.959459
10    0.966111
11    0.802201
12    0.812224
13    0.792990
14    0.973089
Name: Student ID, dtype: float64

In [158]:
# Calculate the overall passing rate (average of the math and reading passing rate)
math_rate = (school_data_complete.loc[(school_data_complete.math_score >= 70)].groupby(['School ID']).count() / school_data_complete.groupby(['School ID']).count() )["Student ID"]
read_rate = (school_data_complete.loc[(school_data_complete.reading_score >= 70)].groupby(['School ID']).count() / school_data_complete.groupby(['School ID']).count() )["Student ID"]
(math_rate + read_rate) / 2

School ID
0     0.735002
1     0.733639
2     0.948609
3     0.738080
4     0.952657
5     0.952037
6     0.955867
7     0.743067
8     0.943794
9     0.952703
10    0.949722
11    0.732933
12    0.736400
13    0.738043
14    0.952905
Name: Student ID, dtype: float64

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [162]:
#  Sort and display the worst five schools in overall passing rate
((math_rate + read_rate) / 2).sort_values().head(5)

School ID
11    0.732933
1     0.733639
0     0.735002
12    0.736400
13    0.738043
Name: Student ID, dtype: float64

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [165]:
# Create table that lists the average math score for each school of each grade level.
school_data_comp_math=school_data_complete.drop(["Student ID", "reading_score", "School ID", "size", "budget"], axis=1)
school_data_math=school_data_comp_math.groupby([ "grade", "school_name"]).mean()
df_m=school_data_math
#print(df_m)
df_m.reset_index(level=df_m.index.names, inplace=True)
#print(df_m)
df_m_9=df_m.loc[df_m["grade"]=="9th",:]
df_m_10=df_m.loc[df_m["grade"]=="10th",:]
df_m_11=df_m.loc[df_m["grade"]=="11th",:]
df_m_12=df_m.loc[df_m["grade"]=="12th",:]
df_m_9_10=pd.merge(df_m_9, df_m_10, on="school_name", how="inner")
df_m_11_12=pd.merge(df_m_11, df_m_12, on="school_name", how="inner")
df_m_merged=pd.merge(df_m_9_10, df_m_11_12, on="school_name", how="inner")
#print(df_m_merged)
df_merged=df_m_merged.drop(['grade_x_x', 'grade_y_x', 'grade_x_y', 'grade_y_y'], axis=1)
df_m_fin=df_merged.rename(columns={"math_score_x_x":"9th", "math_score_y_x":"10th", "math_score_x_y":"11th", "math_score_y_y":"12th"})
df_m_fin.set_index(["school_name"], inplace=True)
df_m_fin.index.names = [""]
df_m_fin

,9th,Budget per student_x_x,10th,Budget per student_y_x,11th,Budget per student_x_y,12th,Budget per student_y_y
,,,,,,,,
Bailey High School,77.083676,628.0,76.996772,628.0,77.515588,628.0,76.492218,628.0
Cabrera High School,83.094697,582.0,83.154506,582.0,82.765560,582.0,83.277487,582.0
Figueroa High School,76.403037,639.0,76.539974,639.0,76.884344,639.0,77.151369,639.0
Ford High School,77.361345,644.0,77.672316,644.0,76.918058,644.0,76.179963,644.0
Griffin High School,82.044010,625.0,84.229064,625.0,83.842105,625.0,83.356164,625.0
Hernandez High School,77.438495,652.0,77.337408,652.0,77.136029,652.0,77.186567,652.0
Holden High School,83.787402,581.0,83.429825,581.0,85.000000,581.0,82.855422,581.0
Huang High School,77.027251,655.0,75.908735,655.0,76.446602,655.0,77.225641,655.0
Johnson High School,77.187857,650.0,76.691117,650.0,77.491653,650.0,76.863248,650.0
Pena High School,83.625455,609.0,83.372000,609.0,84.328125,609.0,84.121547,609.0
Rodriguez High School,76.859966,637.0,76.612500,637.0,76.395626,637.0,77.690748,637.0
Shelton High School,83.420755,600.0,82.917411,600.0,83.383495,600.0,83.778976,600.0
Thomas High School,83.590022,638.0,83.087886,638.0,83.498795,638.0,83.497041,638.0
Wilson High School,83.085578,578.0,83.724422,578.0,83.195326,578.0,83.035794,578.0
Wright High School,83.264706,583.0,84.010288,583.0,83.836782,583.0,83.644986,583.0

In [ ]:
# Calculate the average math score for 9th grade in each school

In [ ]:
# Calculate the average math score for 10th grade in each school

In [ ]:
# Calculate the average math score for 11th grade in each school

In [ ]:
# Calculate the average math score for 12th grade in each school

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Create table that lists the average reading score for each school of each grade level.

In [ ]:
# Calculate the average reading score for 9th grade in each school

In [ ]:
# Calculate the average reading score for 10th grade in each school

In [ ]:
# Calculate the average reading score for 11th grade in each school

In [ ]:
# Calculate the average reading score for 12th grade in each school

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create a new column to show budget per student in each row

In [ ]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate